<section class="Widget Widget--toc">
  <header class="Widget-header">
    <h2 class="Widget-title">目录</h2>
  </header>
  <div class="Widget-body">
    <ul class="nav">
      <% _.forEach(contents, function( cat, k ) { %>
        <li>
          <a href="#<%= k %>"><%= cat.name %></a>
          <ul class="nav">
            <% cat.items.forEach(function( sc ) { %>
              <li><a href="#<%= sc.slug || sc.name %>"><%= sc.name %></a></li>
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>
  </div>
</section>