<!DOCTYPE html>
<html lang="<%= config.language %>" dir="ltr">
  <head>
    <%- partial("_partials/head") %>
  </head>
  <body class="Page" itemscope itemtype="http://schema.org/WebPage"><%- body %></body>
</html>
